<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homestay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Our Homestay</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('welcome') }}">Welcome</a></li>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('admin_login') }}">Admin Login</a></li>
                <li><a href="{{ url_for('user_login') }}">User Login</a></li>
                <li><a href="{{ url_for('room_availability') }}">Room Availability</a></li>
                <li><a href="{{ url_for('food_info') }}">Food Info</a></li>
                <li><a href="{{ url_for('near_places_info') }}">Near Places Info</a></li>
                <li><a href="{{ url_for('booking') }}">Booking</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
